<svg x="@X" y="@Y">
    <rect x="@(GraphModel.Stroke)" y="@yPos" width="@(GraphModel.BarWidth - 2 * GraphModel.Stroke)" height="@height" style="fill:@Model.Color;stroke-width:0;" >
        <title>@Model.Tooltip</title>

    </rect>
</svg>

@code {
    [Parameter]
    public BarElementModel Model { get; set; }

    [Parameter]
    public VerticalBarGraphModel GraphModel { get; set; }

    [Parameter]
    public decimal X { get; set; } = 0;

    [Parameter]
    public decimal Y { get; set; } = 0;

    private decimal yPos => GraphModel.BarHeight - (Model.From - GraphModel.MinValue) * GraphModel.ScalingFactor - height - GraphModel.Stroke/2;

    private decimal height => Model.Height * GraphModel.ScalingFactor;
}
