<svg x="@X" y="@Y">
    <rect x="@(BarDisplay.Stroke)" y="@yPos" width="@(BarDisplay.BarWidth - 2 * BarDisplay.Stroke)" height="@height" style="fill:@Model.Color;stroke-width:0;" >
        <title>@Model.Tooltip</title>

    </rect>
</svg>

@code {
    [Parameter]
    public BarEntry Model { get; set; }

    [Parameter]
    public BarDisplay BarDisplay { get; set; }

    [Parameter]
    public decimal X { get; set; } = 0;

    [Parameter]
    public decimal Y { get; set; } = 0;

    private decimal yPos => BarDisplay.BarHeight - (Model.From - BarDisplay.MinValue) * BarDisplay.ScalingFactor - height - BarDisplay.Stroke/2;

    private decimal height => Model.Height * BarDisplay.ScalingFactor;
}
